<div>
    <div class="placeholder-glow">
        <div class="placeholder col-6 mb-2"></div>
        <div class="placeholder col-4 mb-2"></div>
        <div class="placeholder col-8 mb-2"></div>
        <div class="placeholder col-3 mb-2"></div>
        <div class="placeholder col-7"></div>
    </div>
    <div class="placeholder-glow">
        <div class="placeholder col-3 mb-2"></div>
        <div class="placeholder col-6 mb-2"></div>
        <div class="placeholder col-4 mb-2"></div>
    </div>
</div>